header {
  height: 80px;
  padding: 40px 215px 0 215px;
  background-color: #e5e5e5;
  & > * {
    display: inline-block;
  }
}

.navigation {
  float: right;

  nav {
    width: 430px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    a,
    &:visited {
      font-family: RobotoCondensed;
      color: #4e4e4e;
      font-size: 14px;
      font-weight: 700;
      line-height: 25px;
      text-align: right;
      text-decoration: none;
	  text-transform: uppercase;
      &:hover,
      &:first-child {
        color: #1abb9c;
      }
    }
  }
}
